<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.900099320114-k435efjaa4ftn0g3e2e072sonjh3nagq</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>900099320114-k435efjaa4ftn0g3e2e072sonjh3nagq.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required for AR experiences and video calls.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is required to interact with virtual assistants and for audio calls.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Local network access is required for WebRTC connections.</string>
</dict>
</plist>
